// Base
//css for basic element
html{
  font-size: 14px;
}
* {
  box-sizing: border-box;
  outline: none !important;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #eee;
  opacity: 0.9;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #aaa;
}
main{
  padding: 0 !important;
}

.layout {
  padding-top: 50px !important;
}
