.cta {
  cursor: pointer;
}

.flex-gap-1 {
  gap: 4px;
}

.flex-gap-2 {
  gap: 8px;
}

.flex-gap-4 {
  gap: 16px;
}

.flex-gap-8 {
  gap: 32px;
}

.flex-gap-12 {
  gap: 48px;
}

.success-text {
  color: #4caf50;
}

.error-text {
  color: #ff5252;
}

.btn-white {
  color: #fff !important;
}

.primary-text {
  color: #226fea;
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr > th,
.v-data-table > .v-data-table__wrapper > table > thead > tr > th,
.v-data-table > .v-data-table__wrapper > table > tfoot > tr > th {
  font-size: 14px !important;
}

.prevent-click {
  pointer-events: none;
  filter: grayscale(1);
}
.inline-input-nmr {
  .v-input {
    margin: 0 !important;
    display: inline-block;
    &:nth-child(1) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      width: 30%;
    }
    &:nth-child(2) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      width: 70%;
    }
  }
}
.color-white {
  color: #fff !important;
}
