.comment__dialog {
  top: 0;
  right: 0;
  .v-snack__content{
    max-height: 90vh;
    padding: 30px;
    overflow: auto;
  }
  .comment__box{
    font-size: 14px;
    .v-text-field__slot{
      font-size: 14px;
    }
    &--title{
      font-size: 16px;
      margin-bottom: 20px;
    }
    &--items{
      margin-top: 15px;
      .box__items{
        &--top{
          ul{
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 20px;
            li{
              display: inline-block;
              margin-right: 15px;
              .items__top{
                &--date{
                  b{
                    font-size: 14px;
                    margin: 0 10px;
                  }
                }
                &--author{
                  b{
                    font-size: 14px;
                    margin: 0 10px;
                  }
                }
              }
            }
          }
        }
        &--body{
          p{
            background-color: rgba(0,0,0,0.06);
            font-size: 14px;
            color: rgba(0, 0, 0, 0.38);
            line-height: 22.5px;
            padding: 12px;
          }
        }
      }
    }
  }

  .v-snack__action  {
    display: block;
    margin: 0;
  }
  .close-btn{
    position: absolute;
    top: 15px;
    right: 10px;
    button.v-btn{
      padding: 1px 7px;
      min-width: 0;
      font-weight: 700;
    }
  }
}
